.tour {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.text {
    display: flex;
    flex-wrap: wrap;
    margin-right: 16px;
    padding-top: 280px;
    width: 400px;
    margin-left: 20px;
}

.btn-tour {
    color: white;
}

.text h1 {
    color:black;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1.5rem;
}
.text p {
    color:black;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding-top: 90px;
}
.tour-image {
    flex-basis: 25%;
    padding-left: 8px;
    padding-right: 40px;
    padding-top: 20px;
    margin-left: -8px;
    margin-right: -18px;
}

@media screen and (max-width:1040px) {
    .tour {
        flex-direction: column;
        justify-content: center;
    }

    .images {
        padding-top: 30px;
    }

    .tour-image {
        flex-wrap: wrap;
        width: 55%;
        padding-left: 25px;
        padding-right: 10px;
    }
    .text {
        width: 90%;
        padding-top: 30px;
    }
    .text h1 {
        font-size: 1.2rem;
    }
}